@import url(https://fonts.googleapis.com/css?family=Lora:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
h1, h2, h3 {
  font-family: "Lora", Helvetica, serif;
}

h1 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.post-item {
  width: 100%;
  position: relative;
  padding: 2rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-bottom: .5rem;
  z-index: 1;
  opacity: 0;
}
.post-item:hover:not(.active) .post-link {
  color: #27073A;
}
.post-item:hover:not(.active) .post-date {
  background-color: #27073A;
  color: white;
}
.post-item.active {
  z-index: 100;
}
.post-item.active .post-content {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  max-height: 2000px;
  transition: all 600ms ease-out 600ms;
}
.post-item.active .post-title {
  color: white;
}

.featured-image {
  position: absolute;
  top: 0;
  left: 0%;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  z-index: -1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.post-heading {
  width: 100%;
  padding: 2rem 0rem;
  transition: opacity 600ms ease-out;
}

.post-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.post-overlay svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}
.post-overlay path {
  stroke-opacity: .5;
  stroke-width: 2;
}

.post-content {
  position: absolute;
  left: 0;
  top: 100;
  height: 100%;
  width: 100%;
  max-width: 600px;
  background-color: white;
  padding: 2rem;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 300ms ease-out;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  pointer-events: none;
}
.post-content .post-title {
  margin-bottom: 1.5rem;
}

.post-title {
  max-width: 700px;
  transition: all 1000ms ease-out 200ms;
  cursor: pointer;
}

.post-body p {
  line-height: 1.6rem;
}

.post-link {
  color: white;
  line-height: 3rem;
  transition: all 1000ms ease-out 200ms;
}

.post-date {
  padding: .5rem;
  background-color: white;
  color: #27073A;
  float: left;
}
